<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    
    <form action="/" method="POST">
        <input class="field" name="title" placeholder="Title" required value="<%=body.title%>">
        <input class="field" name="description" placeholder="Description" value="<%=body.description%>">
        <input class="field" name="url" placeholder="URL" required value="<%=body.url%>">
        <button> Save </button>
    </form>

    <%if(error){%>
        <h3> <%=error.message%> </h3>
    <%}%>

</body>
</html>